<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <title>RadioDotNet</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  </head>
  <body class="is-preload">


@RenderBody()

@RenderSection("Script", false)

  </body>
</html>

@functions {

}
