Title: Сообщества
Description: Российские .NET сообщества
Image: images/dotnetru-banner-1200x630.png
Intro: Группа независимых сообществ .NET разработчиков со всей России. Мы объединяем людей вокруг .NET платформы, чтобы способствовать обмену опытом и знаниями. Проводим регулярные встречи, чтобы делиться новостями и лучшими практиками в разработке программных продуктов.
---
<section id="wrapper">

  <!-- Spb -->
  <section id="spb" class="wrapper spotlight style1">
    <div class="inner">
      <a href="https://vk.com/SpbDotNet" target="_blank" class="image"><img src="images/spbdotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Санкт-Петербург</h2>
        <p>Второй по численности населения город России. Город федерального значения. Административный центр Северо-Западного федерального округа и Ленинградской области. Основан 27 мая 1703 года Петром I. В 1712-1918 годах столица Российского государства.</p>
        <ul class="icons">
          <li><a href="https://vk.com/SpbDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://t.me/SpbDotNet" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram channel</span></a></li>
          <li><a href="https://t.me/SpbDotNetChat" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram chat</span></a></li>
          <li><a href="https://SpbDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/SpbDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Msk -->
  <section id="msk" class="wrapper alt spotlight style2">
    <div class="inner">
      <a href="https://vk.com/MskDotNet" target="_blank" class="image"><img src="images/mskdotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Москва</h2>
        <p>Столица Российской Федерации, город федерального значения, административный центр Центрального федерального округа. Крупнейший по численности населения город России и её субъект, самый населённый из городов, полностью расположенных в Европе, входит в первую десятку городов мира по численности населения.</p>
        <ul class="icons">
          <li><a href="https://vk.com/MskDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://twitter.com/MskDotNet" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://t.me/MskDotNet" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram chat</span></a></li>
          <li><a href="https://MskDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/MskDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Sar -->
  <section id="sar" class="wrapper spotlight style3">
    <div class="inner">
      <a href="https://vk.com/SarDotNet" target="_blank" class="image"><img src="images/sardotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Саратов</h2>
        <p>Город на юго-востоке европейской части России, административный центр Саратовской области и Саратовского района. Крупный культурный, экономический и образовательный центр Поволжья. Входит в двадцатку крупнейших городов России.</p>
        <ul class="icons">
          <li><a href="https://vk.com/SarDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://SarDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/SarDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Kry -->
  <section id="kry" class="wrapper alt spotlight style4">
    <div class="inner">
    <a href="https://vk.com/KryDotNet" target="_blank" class="image"><img src="images/krydotnet-logo-squared.svg" alt="" /></a>
    <div class="content">
      <h2 class="major">Красноярск</h2>
      <p>Один из крупнейших городов России, культурный, экономический, промышленный и образовательный центр Центральной и Восточной Сибири. Административный центр Красноярского края и городского округа город Красноярск. Центр Восточно-Сибирского экономического района.</p>
      <ul class="icons">
        <li><a href="https://vk.com/KryDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
        <li><a href="https://KryDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
      </ul>
      <a href="https://vk.com/KryDotNet" target="_blank" class="special">Подробнее</a>
    </div>
    </div>
  </section>

  <!-- Kzn -->
  <section id="kzn" class="wrapper spotlight style5">
    <div class="inner">
      <a href="https://vk.com/KznDotNet" target="_blank" class="image"><img src="images/kzndotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Казань</h2>
        <p>Столица Республики Татарстан, крупный порт на левом берегу реки Волги, при впадении в неё реки Казанки. Один из крупнейших религиозных, экономических, политических, научных, образовательных, культурных и спортивных центров России.</p>
        <ul class="icons">
          <li><a href="https://vk.com/KznDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://t.me/KznDotNet" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram channel</span></a></li>
          <li><a href="https://t.me/KznDotNetChat" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram chat</span></a></li>
          <li><a href="https://KznDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/KznDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Nsk -->
  <section id="nsk" class="wrapper alt spotlight style6">
    <div class="inner">
    <a href="https://www.meetup.com/NskDotNet/" target="_blank" class="image"><img src="images/nskdotnet-logo-squared.svg" alt="" /></a>
    <div class="content">
      <h2 class="major">Новосибирск</h2>
      <p>Третий по численности населения город России. Образует городской округ, являющийся самым населённым муниципальным образованием в стране. Крупнейший торговый, деловой, культурный, промышленный, транспортный и научный центр Сибири.</p>
      <ul class="icons">
        <li><a href="https://vk.com/NskDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
      </ul>
      <a href="https://vk.com/NskDotNet" target="_blank" class="special">Подробнее</a>
    </div>
    </div>
  </section>

  <!-- Oms -->
  <section id="oms" class="wrapper spotlight style5">
    <div class="inner">
      <a href="https://vk.com/OmsDotNet" target="_blank" class="image"><img src="images/omsdotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Омск</h2>
        <p>Один из крупнейших городов России, расположенный на слиянии рек Иртыш и Омь, крупный научный, культурный, спортивный и промышленный центр. Город-миллионник, второй по численности населения в Сибири и восьмой в России.</p>
        <ul class="icons">
          <li><a href="https://vk.com/OmsDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://t.me/OmsDotNetChat" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram chat</span></a></li>
          <li><a href="https://OmsDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/OmsDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Nnv -->
  <section id="nnv" class="wrapper alt spotlight style4">
    <div class="inner">
      <a href="https://vk.com/NnvDotNet" target="_blank" class="image"><img src="images/nnvdotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Нижний Новгород</h2>
        <p>Город в центральной России, административный центр Приволжского федерального округа и Нижегородской области. Крупнейший по численности населения город в Приволжском федеральном округе и на реке Волге.</p>
        <ul class="icons">
          <li><a href="https://vk.com/NnvDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://NnvDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/NnvDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Ufa -->
  <section id="ufa" class="wrapper spotlight style3">
    <div class="inner">
      <a href="https://vk.com/UfaDotNet" target="_blank" class="image"><img src="images/ufadotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Уфа</h2>
        <p>Столица Башкортостана, административный центр Уфимского района. Город республиканского значения. Входит в число крупнейших экономических, культурных и научных центров Российской Федерации.</p>
        <ul class="icons">
          <li><a href="https://vk.com/UfaDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://UfaDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/UfaDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Sam -->
  <section id="sam" class="wrapper alt spotlight style2">
    <div class="inner">
      <a href="https://vk.com/SamDotNet" target="_blank" class="image"><img src="images/samdotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Самара</h2>
        <p>Самара — город в Среднем Поволжье России, центр Поволжского экономического района и Самарской области, образует городской округ. Город трудовой и боевой славы.</p>
        <ul class="icons">
          <li><a href="https://vk.com/SamDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://samdotnet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/SamDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Pnz -->
  <section id="pnz" class="wrapper spotlight style1">
    <div class="inner">
      <a href="https://vk.com/PenzaDotNet" target="_blank" class="image"><img src="images/pnzdotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Пенза</h2>
        <p>Пенза — город на Приволжской возвышенности в центре европейской части России, административный, экономический и культурный центр Пензенской области.</p>
        <ul class="icons">
          <li><a href="https://vk.com/PenzaDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://PenzaDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/PenzaDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Krd -->
  <section id="krd" class="wrapper alt spotlight style2">
    <div class="inner">
      <a href="https://vk.com/KrdDotNet" target="_blank" class="image"><img src="images/krddotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Краснодар</h2>
        <p>Краснодар — город на юге России, расположенный на правом берегу реки Кубани. Административный центр Краснодарского края. Крупный экономический и культурный центр Северного Кавказа и Южного федерального округа, центр историко-географической области Кубань.</p>
        <ul class="icons">
          <li><a href="https://vk.com/KrdDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://t.me/KrdDotNetCommunity" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram chat</span></a></li>
          <li><a href="https://KrdDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/KrdDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Ekb -->
  <section id="ekb" class="wrapper spotlight style3">
    <div class="inner">
      <a href="https://vk.com/EkbDotNet" target="_blank" class="image"><img src="images/ekbdotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Екатеринбург</h2>
        <p>Город храбрых. Город бесов, претендующий на звание Третьей столицы. Один из трёх бург-городов России. Мы отстояли сквер, наш город - место действия сказок Бажова, у нас всего одна ветка метро, но зато каждая станция - произведение искусства. <br/>А ещё в книге рекордов Гиннесса Екатеринбург значится как город с максимальным потреблением майонеза на душу населения. <br/>Приезжайте, и мы расскажем, что такое шаньга, на каких именно болотах растёт клюква и почему никого не удивляет фраза "летнее пальто". И, конечно же, познакомим с крутыми дотнетчиками из Екб!</p>
        <ul class="icons">
          <li><a href="https://vk.com/EkbDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://t.me/EkbDotNet" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram channel</span></a></li>
          <li><a href="https://t.me/EkbDotNetCommunity" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram chat</span></a></li>
          <li><a href="https://EkbDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/EkbDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Sev -->
  <section id="sev" class="wrapper alt spotlight style4">
    <div class="inner">
      <a href="https://vk.com/SevDotNet" target="_blank" class="image"><img src="images/sevdotnet-logo-squared.svg" alt="" /></a>
      <div class="content">
        <h2 class="major">Севастополь</h2>
        <p>Севастополь — город на юго-западе Крымского полуострова, на побережье Чёрного моря. Незамерзающий морской торговый и рыбный порт, промышленный, научно-технический, рекреационный и культурно-исторический центр. Носит звание «Город-Герой».</p>
        <ul class="icons">
          <li><a href="https://vk.com/SevDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://t.me/SevDotNet" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram</span></a></li>
          <li><a href="https://SevDotNet.timepad.ru" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/SevDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- About -->
  <!-- <section id="about" class="wrapper alt style1"> -->
  <section id="about" class="wrapper style1">
    <div class="inner">

      <h2 class="major">Наши цели</h2>
      <p>Развитие русскоязычного .NET сообщества во всех его проявлениях.</p>
      <ul>
        <li>Собираться вместе, знакомиться, обсуждать новости, делиться проблемами и искать решения</li>
        <li>Приглашать самых лучших докладчиков, настоящих профессионалов и уникальных авторов</li>
        <li>Находить и подготавливать новых спикеров для крупнейших российских конференций</li>
        <li>Создать и поддерживать качественную коллекцию видео-лекций</li>
        <li>Развивать Open Source культуру, практиковать совместную разработку</li>
        <li>Помогать в обучении и освоении новых знаний, практик и инструментов</li>
        <li>Творить статьи, подкасты, курсы, фестивали и прочее веселье во благо общественности</li>
      </ul>

      <h2 class="major">Конференции</h2>
      <p>DotNetRu тесно сотрудничает с командой <a href="https://dotnext.ru/" target="_blank">DotNext</a>. Если ваша мечта — выступать на крупнейшей российской .NET конференции, но вы ещё ни разу не выходили на сцену, то наши сообщества это именно то, что вам нужно. Мы поможем вам с выбором востребованных тем, подготовкой качественной презентации и наработкой практики выступлений.</p>

      <h2 class="major">Новые сообщества</h2>
      <p>Если вы хотите организовать .NET сообщество в вашем городе, свяжитесь с нами. У нас богатый опыт организации встреч, тренировки докладчиков, общения со спонсорами и мы всегда рады новым инициативам.</p>

    </div>
  </section>

</section>
