Title: Сообщества
Description: Российские .NET сообщества
Image: images/dotnetru-banner-1200x630.png
Intro: Группа независимых сообществ .NET разработчиков со всей России. Мы объединяем людей вокруг .NET платформы, чтобы способствовать обмену опытом и знаниями. Проводим регулярные встречи, чтобы делиться новостями и лучшими практиками в разработке программных продуктов.
---
<section id="wrapper">

  <!-- Spb -->
  <section id="spb" class="wrapper spotlight style1">
    <div class="inner">
      <a href="https://vk.com/SpbDotNet" target="_blank" class="image"><img src="images/spbdotnet-squared-logo-200.png" alt="" /></a>
      <div class="content">
        <h2 class="major">Санкт-Петербург</h2>
        <p>Второй по численности населения город России. Город федерального значения. Административный центр Северо-Западного федерального округа и Ленинградской области. Основан 27 мая 1703 года Петром I. В 1712-1918 годах столица Российского государства.</p>
        <ul class="icons">
          <li><a href="https://vk.com/SpbDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://twitter.com/SpbDotNet" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://t.me/SpbDotNet" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram channel</span></a></li>
          <li><a href="https://www.meetup.com/SpbDotNet/" target="_blank" class="icon fa-maxcdn"><span class="label">Meetup</span></a></li>
          <li><a href="https://SpbDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/SpbDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Msk -->
  <section id="msk" class="wrapper alt spotlight style2">
    <div class="inner">
      <a href="https://vk.com/MskDotNet" target="_blank" class="image"><img src="images/mskdotnet-squared-logo-200.png" alt="" /></a>
      <div class="content">
        <h2 class="major">Москва</h2>
        <p>Столица Российской Федерации, город федерального значения, административный центр Центрального федерального округа. Крупнейший по численности населения город России и её субъект, самый населённый из городов, полностью расположенных в Европе, входит в первую десятку городов мира по численности населения.</p>
        <ul class="icons">
          <li><a href="https://vk.com/MskDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://twitter.com/MskDotNet" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/MskDotNet" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://MskDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/MskDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Sar -->
  <section id="sar" class="wrapper spotlight style3">
    <div class="inner">
      <a href="https://vk.com/SarDotNet" target="_blank" class="image"><img src="images/sardotnet-squared-logo-200.png" alt="" /></a>
      <div class="content">
        <h2 class="major">Саратов</h2>
        <p>Город на юго-востоке европейской части России, административный центр Саратовской области и Саратовского района. Крупный культурный, экономический и образовательный центр Поволжья. Входит в двадцатку крупнейших городов России.</p>
        <ul class="icons">
          <li><a href="https://vk.com/SarDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://SarDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/SarDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Kry -->
  <section id="kry" class="wrapper alt spotlight style4">
    <div class="inner">
    <a href="https://vk.com/KryDotNet" target="_blank" class="image"><img src="images/krydotnet-squared-logo-200.png" alt="" /></a>
    <div class="content">
      <h2 class="major">Красноярск</h2>
      <p>Один из крупнейших городов России, культурный, экономический, промышленный и образовательный центр Центральной и Восточной Сибири. Административный центр Красноярского края и городского округа город Красноярск. Центр Восточно-Сибирского экономического района.</p>
      <ul class="icons">
        <li><a href="https://vk.com/KryDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
        <li><a href="https://KryDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
      </ul>
      <a href="https://vk.com/KryDotNet" target="_blank" class="special">Подробнее</a>
    </div>
    </div>
  </section>

  <!-- Kzn -->
  <section id="kzn" class="wrapper spotlight style5">
    <div class="inner">
      <a href="https://vk.com/KznDotNet" target="_blank" class="image"><img src="images/kzndotnet-squared-logo-200.png" alt="" /></a>
      <div class="content">
        <h2 class="major">Казань</h2>
        <p>Столица Республики Татарстан, крупный порт на левом берегу реки Волги, при впадении в неё реки Казанки. Один из крупнейших религиозных, экономических, политических, научных, образовательных, культурных и спортивных центров России.</p>
        <ul class="icons">
          <li><a href="https://vk.com/KznDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://t.me/KznDotNet" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram channel</span></a></li>
          <li><a href="https://t.me/KznDotNetChat" target="_blank" class="icon fa-paper-plane"><span class="label">Telegram chat</span></a></li>
          <li><a href="https://KznDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/KznDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- Nsk -->
  <section id="nsk" class="wrapper alt spotlight style6">
    <div class="inner">
    <a href="https://www.meetup.com/NskDotNet/" target="_blank" class="image"><img src="images/nskdotnet-squared-logo-200.png" alt="" /></a>
    <div class="content">
      <h2 class="major">Новосибирск</h2>
      <p>Третий по численности населения город России. Образует городской округ, являющийся самым населённым муниципальным образованием в стране. Крупнейший торговый, деловой, культурный, промышленный, транспортный и научный центр Сибири.</p>
      <ul class="icons">
        <li><a href="https://vk.com/NskDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
        <li><a href="https://www.meetup.com/NskDotNet/" target="_blank" class="icon fa-maxcdn"><span class="label">Meetup</span></a></li>
      </ul>
      <a href="https://vk.com/NskDotNet" target="_blank" class="special">Подробнее</a>
    </div>
    </div>
  </section>

  <!-- Oms -->
  <section id="oms" class="wrapper spotlight style5">
    <div class="inner">
      <a href="https://vk.com/OmsDotNet" target="_blank" class="image"><img src="images/omsdotnet-squared-logo-200.png" alt="" /></a>
      <div class="content">
        <h2 class="major">Омск</h2>
        <p>Один из крупнейших городов России, расположенный на слиянии рек Иртыш и Омь, крупный научный, культурный, спортивный и промышленный центр. Город-миллионник, второй по численности населения в Сибири и восьмой в России.</p>
        <ul class="icons">
          <li><a href="https://vk.com/OmsDotNet" target="_blank" class="icon fa-vk"><span class="label">VKontakte</span></a></li>
          <li><a href="https://OmsDotNet.timepad.ru/" target="_blank" class="icon fa-calendar"><span class="label">TimePad</span></a></li>
        </ul>
        <a href="https://vk.com/OmsDotNet" target="_blank" class="special">Подробнее</a>
      </div>
    </div>
  </section>

  <!-- About -->
  <section id="about" class="wrapper alt style1">
    <div class="inner">

      <h2 class="major">Наши цели</h2>
      <p>Развитие русскоязычного .NET сообщества во всех его проявлениях.</p>
      <ul>
        <li>Собираться вместе, знакомиться, обсуждать новости, делиться проблемами и искать решения</li>
        <li>Приглашать самых лучших докладчиков, настоящих профессионалов и уникальных авторов</li>
        <li>Находить и подготавливать новых спикеров для крупнейших российских конференций</li>
        <li>Создать и поддерживать качественную коллекцию видео-лекций</li>
      </ul>

      <h2 class="major">Конференции</h2>
      <p>DotNet.Ru тесно сотрудничает с командой <a href="https://dotnext.ru/" target="_blank">DotNext</a>. Если ваша мечта — выступать на крупнейшей российской .NET конференции, но вы ещё ни разу не выходили на сцену, то наши сообщества это именно то, что вам нужно. Мы поможем вам с выбором востребованных тем, подготовкой качественной презентации и наработкой практики выступлений.</p>

      <h2 class="major">Новые сообщества</h2>
      <p>Если вы хотите организовать .NET сообщество в вашем городе, свяжитесь с нами. У нас богатый опыт организации встреч, тренировки докладчиков, общения со спонсорами и мы всегда рады новым инициативам.</p>

    </div>
  </section>

</section>
