<!-- Communities -->
<section>
    <h2>Communities</h2>
    <div>
        <ul>
    @foreach(var community in Documents["Communities"].OrderBy(c => c["name"]))
    {
        <li><a href="@Context.GetLink(community)">@community["name"]</a>@community["description"]</li>
    }
        </ul>
    </div>
</section>
