Title: Проекты
Description: Проекты поддерживаемые .NET сообществом
Image: images/dotnetru-banner-1200x630.png
Intro: Мы активно развиваем широкий спектр различных инициатив и открыты для каждого, кто хочет проявить себя независимо от знаний и направления.
---
<section id="wrapper">
  <section id="about" class="wrapper style1">
    <div class="inner">
      <section class="features">

        <article>
          <a href="https://vk.com/DotNetRu" target="_blank" class="image"><img src="images/proj-news.jpg" alt="" /></a>
          <h3 class="major">Новости</h3>
          <p>Мы поддерживаем информационный портал, который будет постоянно держать вас в курсе самых важных новостей, лучших статей и авторитетных личностей из мира .NET.</p>
          <p><div id="vk_subscribe"></div></p>
          <a href="https://vk.com/DotNetRu" target="_blank" class="special">Читать</a>
        </article>
        <article>
          <a href="https://www.youtube.com/DotNetRu" target="_blank" class="image"><img src="images/proj-video.jpg" alt="" /></a>
          <h3 class="major">Видео</h3>
          <p>Мы подготавливаем, записываем и выкладываем в свободный доступ все наши доклады, покрывающие самые интересные и актуальные темы для .NET сообщества.</p>
          <p><div class="g-ytsubscribe" data-channelid="UCHFl23Ah_l4gEUTXYUStQdQ" data-layout="default" data-theme="dark" data-count="default"></div></p>
          <a href="https://www.youtube.com/DotNetRu" target="_blank" class="special">Смотреть</a>
        </article>
        <article>
          <a href="https://radio.dotnet.ru/" target="_blank" class="image"><img src="images/proj-radio.jpg" alt="" /></a>
          <h3 class="major">Подкаст RadioDotNet</h3>
          <p>Мы записываем подкаст на тему .NET во всех его проявлениях, новости, статьи, библиотеки, конференции, личности и прочее интересное из мира IT.</p>
          <a href="https://radio.dotnet.ru/" target="_blank" class="special">Слушать</a>
        </article>
        <article>
          <a href="https://more.dotnet.ru/" target="_blank" class="image"><img src="images/proj-more.jpg" alt="" /></a>
          <h3 class="major">Подкаст DotNet & More</h3>
          <p>Мы обсуждаем, берём интервью, спорим и делимся переживаниями обо всём что затрагивает разработчиков в подкасте о DotNet разработке и не только.</p>
          <a href="https://more.dotnet.ru/" target="_blank" class="special">Слушать</a>
        </article>
        <article>
          <a href="https://t.me/DotNetRuChat" target="_blank" class="image"><img src="images/proj-chat.jpg" alt="" /></a>
          <h3 class="major">Telegram чат</h3>
          <p>Мы общаемся в самом большом русскоязычном чате по .NET в Telegram'е, где каждый может обсудить свои проблемы и поделиться опытом с коллегами.</p>
          <a href="https://t.me/DotNetRuChat" target="_blank" class="special">Общаться</a>
        </article>
        <article>
          <a href="https://github.com/DotNetRu" target="_blank" class="image"><img src="images/proj-code.jpg" alt="" /></a>
          <h3 class="major">Совместная разработка</h3>
          <p>Мы вместе разрабатываем различные проекты на GitHub и всегда ищем тех, кто может помочь сообществу не только словом, но и кодом.</p>
          <a href="https://github.com/DotNetRu" target="_blank" class="special">Творить</a>
        </article>
        <article>
          <a href="https://vk.com/albums-144195266" target="_blank" class="image"><img src="images/proj-stand.jpg" alt="" /></a>
          <h3 class="major">Стенд</h3>
          <p>Мы регулярно посещаем с нашим стендом крупнейшие конференции, проводя круглые столы, викторины, обучения и всячески полуляризируя любимую платформу.</p>
          <a href="https://vk.com/albums-144195266" target="_blank" class="special">Посмотреть</a>
        </article>
        <article>
          <a href="https://www.youtube.com/DotNetRu" target="_blank" class="image"><img src="images/proj-speaker.jpg" alt="" /></a>
          <h3 class="major">Докладчики</h3>
          <p>Мы ищем опытных и подготавливаем новых спикеров для мероприятий любых размеров, от корпоративных посиделок до крупнейших российских конференций.</p>
          <a href="https://www.youtube.com/DotNetRu" target="_blank" class="special">Смотреть</a>
        </article>
        <article>
          <a href="https://habr.com/ru/company/skbkontur/blog/577576/" target="_blank" class="image"><img src="images/proj-meetups.jpg" alt="" /></a>
          <h3 class="major">Встречи</h3>
          <p>Мы проводим регулярные встречи, читаем доклады, эксперементируем с форматами, обсуждаем новости, делимся знаниями, учимся у коллег и просто хорошо проводим время в кругу единомышленников.</p>
          <a href="https://habr.com/ru/company/skbkontur/blog/577576/" target="_blank" class="special">Узнать зачем выступать</a>
        </article>
        <article>
          <a href="https://habrahabr.ru/company/jugru/blog/334476/" target="_blank" class="image"><img src="images/proj-community.jpg" alt="" /></a>
          <h3 class="major">Новые сообщества</h3>
          <p>Если вы хотите организовать .NET сообщество в вашем городе, свяжитесь с нами. У нас богатый опыт организации встреч, тренировки докладчиков, общения со спонсорами и мы всегда рады новым инициативам.</p>
          <a href="https://habrahabr.ru/company/jugru/blog/334476/" target="_blank" class="special">Узнать о сообществах</a>
        </article>

      </section>
    </div>
  </section>
</section>

@section Script {

    <!-- Social Buttons -->

    <!-- VKontakte-->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>
    <script type="text/javascript">VK.Widgets.Subscribe("vk_subscribe", {soft: 1}, -144195266);</script>
    <!-- YouTube -->
    <script src="https://apis.google.com/js/platform.js"></script>

    <!-- /Social Buttons -->
}
