Title: Проекты
Description: Проекты поддерживаемые .NET сообществом
Image: images/dotnetru-banner-1200x630.png
Intro: Мы активно развиваем широкий спектр различных инициатив и открыты для каждого, кто хочет проявить себя независимо от знаний и направления.
---
<section id="wrapper">
  <section id="about" class="wrapper style1">
    <div class="inner">
      <section class="features">

        <article>
          <a href="https://vk.com/DotNetRu" target="_blank" class="image"><img src="images/proj-news.jpg" alt="" /></a>
          <h3 class="major">Новости</h3>
          <p>Мы поддерживаем информационный портал, который будет постоянно держать вас в курсе самых важных новостей, лучших статей и авторитетных личностей из мира .NET.</p>
          <p><div id="vk_subscribe"></div></p>
          <a href="https://vk.com/DotNetRu" target="_blank" class="special">Читать</a>
        </article>
        <article>
          <a href="https://www.youtube.com/DotNetRu" target="_blank" class="image"><img src="images/proj-video.jpg" alt="" /></a>
          <h3 class="major">Видео</h3>
          <p>Мы подготавливаем, записываем и выкладываем в свободный доступ все наши доклады, покрывающие самые интересные и актуальные темы для .NET сообщества.</p>
          <p><div class="g-ytsubscribe" data-channelid="UCHFl23Ah_l4gEUTXYUStQdQ" data-layout="default" data-theme="dark" data-count="default"></div></p>
          <a href="https://www.youtube.com/DotNetRu" target="_blank" class="special">Смотреть</a>
        </article>
        <article>
          <a href="https://t.me/DotNetRuChat" target="_blank" class="image"><img src="images/proj-chat.jpg" alt="" /></a>
          <h3 class="major">Telegram чат</h3>
          <p>Мы общаемся в самом большом русскоязычном чате по .NET в Telegram'е, где каждый может обсудить свои проблемы и поделиться опытом с коллегами.</p>
          <a href="https://t.me/DotNetRuChat" target="_blank" class="special">Общаться</a>
        </article>
        <article>
          <a href="https://github.com/DotNetRu" target="_blank" class="image"><img src="images/proj-code.jpg" alt="" /></a>
          <h3 class="major">Совместная разработка</h3>
          <p>Мы вместе разрабатываем различные проекты на GitHub и всегда ищем тех, кто может помочь сообществу не только словом, но и кодом.</p>
          <a href="https://github.com/DotNetRu" target="_blank" class="special">Творить</a>
        </article>
        <article>
          <a href="https://habrahabr.ru/company/it_people/blog/324352/" target="_blank" class="image"><img src="images/proj-meetups.jpg" alt="" /></a>
          <h3 class="major">Встречи</h3>
          <p>Мы проводим регулярные встречи, читаем доклады, эксперементируем с форматами, обсуждаем новости, делимся знаниями, учимся у коллег и просто хорошо проводим время в кругу единомышленников.</p>
          <a href="https://habrahabr.ru/company/it_people/blog/324352/" target="_blank" class="special">Узнать зачем выступать</a>
        </article>
        <article>
          <a href="https://habrahabr.ru/company/jugru/blog/334476/" target="_blank" class="image"><img src="images/proj-community.jpg" alt="" /></a>
          <h3 class="major">Новые сообщества</h3>
          <p>Если вы хотите организовать .NET сообщество в вашем городе, свяжитесь с нами. У нас богатый опыт организации встреч, тренировки докладчиков, общения со спонсорами и мы всегда рады новым инициативам.</p>
          <a href="https://habrahabr.ru/company/jugru/blog/334476/" target="_blank" class="special">Узнать о сообществах</a>
        </article>

      </section>
    </div>
  </section>
</section>
