@{
	Layout = @"/_Layout.cshtml";
}

<!-- Community Content -->
<article class="community">
    <header>
        <h2>@Model["name"]</h2>
        <p>@Model["description"]</p>
    </header>
    @RenderBody()
</article>
